---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

const posts =  await getCollection("posts");

const tags = [...new Set(posts.map((post: any) => post.data.tags).flat())];


---
<Layout title='tags' currentPath='/tags'>
    <h1>Etiquetas:</h1>
    
    <div>
        {tags.map((tag) => (
          <p><a href={`/tags/${tag}`}>{tag}</a></p>
        ))}
    </div>

</Layout>

