---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Carlos Mairena | Infraestructura, programación, ciberseguridad y más.." />
		<meta name="keywords" content="programación, ciberseguridad, monitoreo, hardening, tutoriales, carlos mairena, costa rica, guanacaste">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content="v1.0" />
		<title>{title}</title>
	</head>
	<body class="font-sans bg-white text-gray-900">
		<slot />
	</body>
</html>
